<h1><%= @user.email if @user.email%></h1>
<h3>User type:
    <%= @user.role %></h3>

<!-- Btn should only appear is standard member looking at their own profile -->
<% if user_can_upgrade?(@user) %>
<%= link_to "Upgrade to Premium Account!", new_charge_path, class: 'btn btn-success' %>
<% end %>

<% if @user.role == 'premium' %>
    <%= link_to "Downgrade", charges_path, method: :destroy, class: 'btn btn-default' %>
  <% end %></p>
